@model DreamerStore2.ViewModel.DetailedProductViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media only screen and (min-width: 992px) {
    .product-img {
        height: 100px; /* Fixed height for laptop screens */
    }
}
}
</style>
<!-- Page Content -->
<div class="container-fluid">
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-lg-5">
            <img id="main-pic" style="width: 100%;" class="img-fluid" src="https://cdn.eva.vn/upload/3-2022/images/2022-07-15/image13-1657867526-681-width1080height1007.jpg" alt="">
            <div class="container mt-3">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div style="border-color: black; border: 20px;" class="owl-carousel owl-theme">
                            @foreach (var dProduct in Model.DetailedProducts)
                            {
                                <div class="card border-0 rounded-1 m-3">
                                    <img style="max-width: 100%; height: auto;" src="@dProduct.Image" class="product-img card-img-top rounded-1">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <h3 class="my-3">@Model.Product.ProductName</h3>
            <div>
                <p>Đã bán: @Model.Product.ProductSold</p>
            </div>
            <div style="margin-top: 10px;">
                <div style="background-color: #f5f5f5;" class="flex flex-column">
                    <div class="flex items-center">
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-column">
                    <div>
                    </div>
                    <div>
                        <div class="flex items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <form id="cartForm" asp-controller="Cart" asp-action="AddToCart">
                    <select id="dProductId" name="detailedProductId">
                        <option selected disabled>Chọn sản phẩm muốn mua</option>
                        @foreach (var detail in Model.DetailedProducts)
                        {
                            <option value="@detail.DetailedProductId">@detail.DetailedProductName</option>
                        }
                    </select>
                    <input name="quantity" id="quantity" type="number" min="0" />
                    <button type="submit">Thêm vào giỏ hàng</button>
                    <span class="text-danger" id="quantityError"></span>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#quantity').change(function () {
            var quantity = parseInt($('#quantity').val());
            var dProductId = $('#dProductId').val();
            @foreach(var dProduct in Model.DetailedProducts)
            {
                <text>
                if (dProductId == '@dProduct.DetailedProductId')
                {
                    if (quantity >= @dProduct.DetailedProductQuantity)
                    {
                        alert('Số lượng sản phẩm không đủ.');
                        $('#quantity').val(@dProduct.DetailedProductQuantity);
                    }
                }
                </text>
            }
        });
    });
</script>
