
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #trash-icon {
      cursor: pointer;
    }

    #trash-icon:hover {
      color: #007bff; /* Màu sắc khi hover, có thể thay đổi tùy ý */
    }
</style>
@model DreamerStore2.Models.Cart
@if (Model.Items.Count > 0)
{
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="assets/images/logo-title-bar.png"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">
        <link rel="stylesheet" href="assets/css/owl-carousel.css">
        <link rel="stylesheet" href="assets/css/lightbox.css">
        <div class="main-banner" style="border-bottom: none" id="top">
            <main id="maincontent" class="page-checkout">
                <div class="container">
                    <form id="form-order" action="PaymentController" method="POST">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="text-nowrap mb-5 pb-3">
                                    <div style="float: left">
                                        <h5>Giỏ hàng của bạn</h5>
                                    </div>
                                    <div style="float: right" class="text-nowrap">
                                        <i class="fas fa-trash-alt"></i>
                                        <a href="Cart/RemoveAll">
                                            <span style="color: black;">Xóa giỏ hàng</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-cart mt-5">
                                    @foreach (var orderedDetailedProduct in Model.Items)
                                    {
                                        <div class="item-cart mt-3" id="product_@orderedDetailedProduct.DetailedProduct.DetailedProductId">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 px-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                    <img style="width: 80px; height: 100px; border-radius: 10px;" src="@orderedDetailedProduct.DetailedProduct.Image" alt="@orderedDetailedProduct.DetailedProduct.DetailedProductName" />
                                                </div>
                                                <div class="col-lg-3 px-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                    <h6 class="text-nowrap">@orderedDetailedProduct.DetailedProduct.DetailedProductName</h6>
                                                    <div class="mt-2">
                                                    <span class="text-nowrap quantity" style="font-size: 13px; margin-right: 5px" data-product-id="@orderedDetailedProduct.DetailedProduct.DetailedProductId">Số lượng: @orderedDetailedProduct.Quantity</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 px-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                    <div class="float-right">
                                                        <p class="mb-0 text-nowrap" style="font-weight: bold;">@orderedDetailedProduct.DetailedProduct.DetailedProductPrice.ToString("N0") ₫</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 px-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                    <div class="float-right">
                                                        <i class="fas fa-trash-alt" id="trash-icon" onclick="removeFromCart(@orderedDetailedProduct.DetailedProduct.DetailedProductId, @orderedDetailedProduct.DetailedProduct.DetailedProductPrice)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-5 info-checkout mt-3">
                                <div class="form-group mt-3">
                                    <label for="user-receiver">Tên người nhận hàng:</label>
                                    <input id="user-receiver" class="input form-control" type="text" name="name" value="" required=""/>
                                </div>
                                <div class="form-group">
                                    <label for="mobile">Số điện thoại nhận hàng:</label>
                                    <input id="mobile" class="input form-control" type="text" name="mobile" value="" required=""/>
                                </div>
                                <div class="form-group">
                                    <label for="address">Địa chỉ nhận hàng:</label>
                                    <input id="address" class="input form-control" type="text" name="address" value="" required=""/>
                                </div>
                                <div class="overall-menoy">
                                    <h5 class="mt-3">Tổng tiền thanh toán</h5>
                                    <div class="d-flex mt-3 total-items">
                                        <div class="d-flex align-items-center text-nowrap">
                                            <p class="text-nowrap">Số lượng sản phẩm: <span id="totalQuantity">@Model.TotalQuantity</span></p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-3 total-money">
                                        <div class="d-flex align-items-center">
                                            <p>Tổng tiền: <span id="totalMoney">@Model.CartTotalPrice.ToString("N0")</span> ₫</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="payment-method mt-5">
                                    <h5 class="mt-3">Chọn phương thức thanh toán</h5>
                                    <table class="mt-3">
                                        <tr class="money-payment">
                                            <td><input id="money" class="" type="radio" name="method" value="NavToPayment" checked=""/></td>
                                            <td><label for="money" class="ml-3">Thanh toán khi nhận hàng</label></td>
                                        </tr>
                                        <tr class="credit-payment">
                                            <td><input id="credit" class="" type="radio" name="method" value="NavToVNPAY"/></td>
                                            <td><label for="credit" class="ml-3">Thanh toán qua VNPAY</label></td>
                                        </tr>
                                    </table>
                                </div>
                                <button type="submit" class="mt-4 btn btn-primary w-100">Đặt hàng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
}
else
{
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Giỏ hàng của bạn đang trống</h2>
                        <span>Kiểm tra lại giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="Home/ListProduct" type="submit" class="btn btn-warning btn-block btn-lg">Tiến hành mua hàng</a>
}
<script src="~/assets/js/cart.js"></script>
@* <script>
    function removeFromCart(productId, price) {
        $.ajax({
            url: '/Cart/RemoveFromCart', // Thay đổi thành địa chỉ hành động xóa trong controller của bạn
            type: 'POST',
            data: { id: productId, quantity: 1 }, // Truyền id của sản phẩm và quantity = 0 để xóa sản phẩm
            success: function (data) {
                // Xử lý dữ liệu JSON trả về từ hành động xóa sản phẩm
                console.log(data);
                if (data.Success) {
                    var quantityElement = $('.quantity[data-product-id="' + productId + '"]');
                    var currentQuantity = parseInt(quantityElement.text().replace('Số lượng: ', ''));
                    quantityElement.text('Số lượng: ' + (currentQuantity - 1));

                    var quantity = parseInt($('#totalQuantity').text()); // Lấy giá trị hiện tại và chuyển thành số nguyên
                    $('#totalQuantity').text(quantity - 1); // Cập nhật giá trị mới

                    var money = parseInt($('#totalMoney').text().replace(/\D/g, '')); // Lấy giá trị hiện tại và chuyển thành số nguyên
                    $('#totalMoney').text((money - parseInt(price)).toLocaleString('en-US')); // Cập nhật giá trị mới

                    if (currentQuantity - 1 == 0) {
                        $("#product_" + productId).hide();
                    }
                    if (quantity - 1 === 0) {
                        location.reload();
                    }
                    // Thực hiện các hành động tiếp theo nếu cần
                } else {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi nếu có
                console.error(error);
            }
        });
    }
</script> *@
