@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DreamerStore2.Models.Cart
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ***** Main Banner Area End ***** -->
<section class="h-100">
    <div class="container-fluid h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                @if (Model != null)
                {
                <div class="cart-title">
                    <strong>Giỏ hàng của bạn</strong>
                    <span class="cart-count-items">(@Model.TotalQuantity sản phẩm)</span>
                </div>
                <div style="text-align: right;">
                        <a asp-action="RemoveCart" asp-controller="Cart"><i class="fas fa-trash-alt"></i>Xóa giỏ hàng</a>
                </div>
                <hr>
                    @foreach(var orderedDetailedProductList in Model.ProductList.Values)
                    {
                        @foreach (var orderedDetailedProduct in orderedDetailedProductList)
                        {
                            <div class="card rounded-3 mb-5">
                                <div class="card rounded-0">
                                    <div class="card-body bg-light">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div class="pl-3 bg-light text-danger">
                                                <h4></h4>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2" style="text-align: center;">
                                                <img src="@orderedDetailedProduct.DetailedProduct.Image" class="img-fluid rounded-3" alt="Cây cảnh" style="height: 150px; width: 120px;">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <p class="lead fw-bold mb-2" style="font-size: 23px;"></p>
                                                <p><span class="text-muted">Giống cây: @orderedDetailedProduct.DetailedProduct.DetailedProductName</span>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                                                <button class="btn btn-link px-2" style="visibility: hidden" onclick="">
                                                    <img src="" />
                                                </button>
                                                <input min="0" value="@orderedDetailedProduct.Quantity" type="number" disabled=""
                                                class="form-control form-control-sm" style="text-align: center; height: 40px; border: 1px solid; font-size: 16px;" />
                                                <button class="btn btn-link px-2" style="visibility: hidden" onclick="">
                                                    <img src="" />
                                                </button>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <div style="white-space: nowrap;">
                                                    <h5 class="mb-0" style="font-weight: bold; display: inline-block;">Giá: @orderedDetailedProduct.DetailedProduct.DetailedProductPrice₫</h5>
                                                    @*<h5 class="mb-0" style="font-weight: bold; display: inline-block;"><del>Giá gốc: @orderedDetailedProduct.DetailedProduct.DetailedProductPrice₫</del></h5>*@
                                                </div>
                                                @*<h5 style="display: inline-block; border-radius: 10px; background-color: #cccccc; padding: 0 5px 0 5px; color: black;"> - 100%</h5>
                                                <h5 style="font-size: 20px; color: red;">Giá giảm ₫</h5>*@
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a onclick="" href="" class="text-danger"><img src="" /></a>
                                            </div>
                                            <div>
                                                <a asp-controller="Cart" asp-action="RemoveItem" asp-route-id="@orderedDetailedProduct.DetailedProduct.DetailedProductId" class="text-danger">Xóa sản phẩm khỏi giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <h3 style="text-align: right">Tổng cộng: <span style="color: red;">@Model.CartTotalPrice ₫</span></h3>
                } else
                {
                    <div class="text-center">
                        <img src="" class="empty-image">
                        <h2 class="mb-4">Giỏ hàng của bạn đang trống</h2>
                        <p class="lead">Hãy thêm sản phẩm vào giỏ hàng để bắt đầu mua sắm!</p>
                    </div>
                }

                <div class="card">
                    <div class="card-body">
                        <form>
                            <button type="submit" class="btn btn-warning btn-block btn-lg">Tiến hành thanh toán</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
