@model IEnumerable<DreamerStore2.Models.DetailedProduct>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetailedProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th style="max-width: 200px">
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th style="max-width: 200px">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailedProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailedProductQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailedProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td style ="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                    @Html.DisplayFor(modelItem => item.Meta)
                </td>
                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Meta" asp-route-pid="@ViewBag.id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Meta" asp-route-pid="@ViewBag.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
