@model IEnumerable<DreamerStore2.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Product</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center align-middle">NO</th>
            <th class="text-center align-middle">Tên sản phẩm</th>
            <th class="text-center align-middle">Giá bán</th>
            <th class="text-center align-middle">Số lượng đã bán</th>
            <th class="text-center align-middle">Thứ tự hiển thị</th>
            <th class="text-center align-middle">Hiển thị</th>
            <th class="text-center align-middle">Ngày cập nhật</th>
            <th class="text-center align-middle">Category</th>
            <th class="text-center align-middle">Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="8">No match any document</td>
            </tr>
        }
        else
        {
            int stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <th scope="row" class="text-center align-middle font-weight-medium">@stt </th>
                    <td class="text-center align-middle">@item.ProductName</td>
                    <td class="text-center align-middle">@String.Format( "{0:#,0}", item.ProductPrice)</td>
                    <td class="text-center align-middle">@item.ProductSold</td>
                    <td class="text-center align-middle">@item.Order</td>
                    <td class="text-center align-middle">
                        @if (item.Hide == true)
                        {
                            <i class="fa fa-circle text-success font-12" data-toggle="tooltip" data-placement="top" title="Checked"></i>
                        }
                        else if (item.Hide == false)
                        {
                            <i class="fa fa-circle text-danger font-12" data-toggle="tooltip" data-placement="top" title="Unhecked"></i>
                        }
                    </td>
                    <td class="text-center align-middle">@item.UpdatedAt.ToString("dd/MM/yyyy")</td>
                    <td class="text-center align-middle">@item.Category.CategoryName</td>
                    <td>
                        <a asp-controller="DetailedProducts" asp-action="Index" asp-route-id="@item.Meta">Thêm chi tiết sản phẩm</a> |
                        <a asp-action="Edit" asp-route-id="@item.Meta">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Meta">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Bạn có chắc chắn muốn xóa?</p>
        <button id="confirmDelete">Xác nhận</button>
        <button id="cancelDelete">Hủy</button>
    </div>
</div>
